/* Attribute Selector */
input[type="text"]{
    font-size: 1rem;
}

input[type="num"]{
    font-size: 1rem;
}

input[type="text"]{
    font-size: 1rem;
}

/* Universal Selector */
* input{
    font-size: 1rem;
}

/* Type Selector */
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-style: inherit;
}
/* .abc p{
    display: grid;
} */
form{
    background-image: url("abcd.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 9%;
    padding-top: 3%;
    font-size: larger;
    background-repeat: repeat;
    background-size: 100%;
    
    
}

/* Class Selector */
.form{
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 18%;
    padding-top: 5%;
    
}

label{
    width: 289px;
    display: inline-block;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Psudo Selector */

input:hover{
    color: rgb(67, 4, 86);    
}

label:hover{
    color: rgb(124, 22, 22);
}

body{
    background-image: url('images.jpeg');
}

.hd{
    font-weight: 800;
    font-size: 21px;
}

.add{
    margin-left: -5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 10px #e0e412,
                 0 0 20px #e0e412,
                 0 0 40px #e0e412,
                 0 0 80px #e0e412,
                 0 0 120px #e0e412;
    
}

.hack{
    margin-left: 95%;
    margin-top: -38%;
    margin-bottom: 30%;
    color: fuchsia;
    font-style: italic;
    background-color: black;
    border-style: double;
    border-color: rgb(220, 220, 236) ;
    border-width: 8px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 120px;
    width: 280px;
    display: block;
}

.hack1{
    margin-left: -45%;
    margin-top: -61%;
    color: fuchsia;
    font-style: italic;
    background-color: black;
    border-style: double;
    border-color: rgb(220, 220, 236) ;
    border-width: 8px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 120px;
    width: 280px;
    display: block;
}

.registeration{
    color: rgb(5, 0, 6);
    background-color: rgb(43, 171, 43);
    width: 20%;
    font-weight: 900;
    font-size: 90%;
    padding-top: -0%;
}
.registeration:hover{
    background-color: aqua;
    color: rgb(32, 18, 112);
}

input[type="submit"]{
    color: rgb(5, 0, 6);
    background-color: rgb(43, 171, 43);
    width: 30%;
    font-weight: 900;
    font-size: 90%;
    padding-top: -0%;
}

.b{
    margin-top: -5.5%;
}

.c, .d, .e, .f, .g{
    margin-top: -5%;
}

.h, .m{
    margin-top: 2%;
}

.i, .j, .k, .l{
    margin-top: -3%;
}

input:focus{
    border: 4px solid rgb(46, 172, 29);
}

a:hover{
    color: rgb(60, 159, 198);
}

.submit:hover{
    background-color: aqua;
    color: black;
}

input[type="reset"]{
    color: rgb(5, 0, 6);
    background-color: rgb(43, 171, 43);
    width: 30%;
    font-weight: 900;
    font-size: 90%;
}

.res:hover{
    background-color: aqua;
    color: black;
}

.hd:hover{
    color: rgb(239, 5, 9);
}

hr{
    width: 100%;
    height: 3px;
    background-color: black;
    border-color: rgb(165, 55, 224);
    border-style: double;
    border-radius: 20px;
}

.xyz{
    margin-left: -5%;
    margin-left: -5;
    margin-top: 57px;
}

a:active{
    color: red;
}

.fake{
    margin-left: 70%;
    margin-top: -15%;
    color: rgb(250, 247, 250);
    border-color: rgb(227, 236, 169);
    border-style: groove;
    border-width: 15px;
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    background-image: url("d.jpeg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 5000%;
    text-align: center;
}

.thar{
    width: 180px;
    margin-left: 80%;
    margin-top: -2%;
}

.pdf{
    margin-left: 10%;
    max-width: 100%;
}

.container{
    margin-top: 10%;
}

#sal{
    margin-top: 2%;
    margin-bottom: 2%;
}






/* CSS FOR ANIMATION */

.box{
    text-align: center;
    margin-top: 0%;
    position: relative;
    display: flex;
    height: 60px;
}

.hii{
    background-color: rgb(224, 170, 205);
    color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -2%;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 10px #b71e19,
                 0 0 20px #b71e19,
                 0 0 40px #b71e19,
                 0 0 80px #b71e19,
                 0 0 120px #b71e19;
}

.lightbar{
    position: absolute;
    top:0;
    left: 24%;
    width: 20px;
    height: 100px;
    border-radius: 10px;
    z-index: 20;
    box-shadow: 0 0 10px #000000,
                0 0 20px #b71e19,
                0 0 40px #b71e19,
                0 0 80px #b71e19,
                0 0 120px #b71e19;
    animation: animatelightbar 3s linear infinite;
}

@keyframes animatelightbar{
    0%, 5%{
        transform: scaleY(0) translateX(0);
    }
    10%{
        transform: scaleY(1) translateX(0);
    }
    90%{
        transform: scaleY(1) translateX(calc(600px - 10px));
    }
    95%,100%{
        transform: scaleY(1) translateX(calc(600px - 10px));
    }
}

.toplayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    animation: animatetopLayer 10s linear infinite;

}

@keyframes animatetopLayer{
    0%, 2.5%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(100%);
    }
    47.5%, 50%{
        transform: translateX(100%);
    }

    50.001%, 52.5%{
        transform: translateX(0%);
    }
    55%{
        transform: translateX(0%);
    }
    95%{
        transform: translateX(0%);
    }
    97.5%, 100%{
        transform: translateX(0%);
    }
}